/* src/components/missions/DifficultyBadge.css */

.difficulty-badge {
  display: inline-flex;
  border-radius: var(--radius-sm);
  padding: 4px 8px;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
}

.easy {
  background-color: var(--color-easy);
  color: var(--color-success);
  fill: var(--color-success);
}

.medium {
  background-color: var(--color-medium);
  color: #a08300;
  fill: #a08300;
}

.hard {
  background-color: var(--color-hard);
  fill: var(--color-error);
  color: var(--color-error);
}


.difficulty-rating {
    font-size: 10px;
    font-family: var(--font-family);
    margin-left: 2px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.star {
    width: 10px; 
    height: 10px;
    padding: 0;
    margin: 2px 0.1px;
}